#########################################
# Editor temporary/working/backup files #
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.iml
*.kdev4
*.log
*.swp
*.pdb
*.zip
.project
.pydevproject
.settings
.idea
.vagrant
.noseids
.ipynb_checkpoints
.tags
.cache/
.vscode/

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.pxi
*.o
*.py[ocd]
*.so
.build_cache_dir
.mesonpy-native-file.ini
MANIFEST
compile_commands.json
debug
.debug